
<h1> Stupid coach</h1>

<div class="question">
  <p> <%=@question%></p>
  <em>you</em>
</div>

<div class="answer_coach">
<p> <strong><%=@answer%></strong></p>
<em>your coach</em>
</div>

<p> <%= link_to "new question", ask_path %> </p>
